<header>
  <div class='hContainer'>
    <h1><a href='/'>My Recipe Book</a></h1>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/new'>Create Recipe</a></li>
      </ul>
    </nav>
  </div>
</header>
<h2 class= 'different'>Shared Recipes</h2>

<div class='sContainer'>
  <ul class='shared'>
    <div>
      {{#each recipes}}
      <li><a href="/{{this.id}}">{{this.title}}</br> </br>by {{this.name}}</a></li>
      {{/each}}
    </div>
  </ul> 
</div>



