<h1>Share Your Favorite Receipes</h1>

<ul>
  {{#each recipes}}
  <li><a href="/{{this.id}}">{{this.title}} by {{this.name}}</a></li>
  {{/each}}
</ul>

<button id='create'><a href="/new">Create Recipe</a></button>