*{
  list-style: none;
  font-family: 'Nunito',
  sans-serif;
}

/* HEADER CSS */

body{
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  background-image: url('/assets/images/beans-chopping-board-food-616358.jpg');
}

header{
  box-sizing: border-box;
  width:100%;
}

.hContainer{
  border-bottom: 1px solid black;
}


header div{
  display:flex;
  justify-content: space-between;
  border-bottom: 1px black;
}

header div ul li{
  display:inline-block;
  margin: 0 5px;
  font-weight: bold;
}

header div ul li a{
  text-decoration: none;
  color:black;
}
header div ul li a:hover {
  color: white;
}

h1{
  font-size:20px;
}

h1 a{
  text-decoration: none;
  color:black;
}



.shared{
  margin: 10px 0;
  word-wrap:break-word;
}


.shared li{
  font-size:15px;
  text-transform: uppercase;
  border:1px solid black;
  width:25%;
  text-align: center;
  margin:10px 5px;
  display:inline-block;
  height: 140px;
  border-radius:3%;
  background:rgb(255,255,255,.3)
}

.shared li a{
  color:black;
  text-decoration: none;
  text-align:center;
} 

.showContainer{
  background:rgb(255,255,255,.6);
  margin:10px 80px;
  padding:10px;
  border-radius:5%;
}

.recipeContainer{
  display:flex;
  justify-content: flex-end;
}



#create{
  border: 1px solid black;
  display:flex;
  justify-content: center;
  background:white;
  font-size:15px;
  padding: 10px 10px;
  border-radius:20%;
  margin:auto;
}

#create a{
  color:black;
  text-decoration: none;
}

#new{
  display:flex;
  flex-direction: column;
}
.new{
  width:74%;
  margin:0 auto;
  resize: none;
}

.ingredientList input{
  width:85%;
}

.stepList input{
  width:85%
  
}


.ingredientList{
  margin-left:125px;
}

.stepList{
  margin-left:125px;
}




.extraSpace{
  height:70px;
}

.label{
  margin: 0 auto;
}
#newStuff{
  margin-top:20px;
  width:30%;
  margin:20px auto;
  font-size:20px;
  border-radius:5%;
}

h2{
  text-align: center;
  color:black;
  font-size:18px;
}




.showOther{
  text-align: center;
  color:black;
  font-size:15px;
  margin-right:40px;
}

.different{
  text-align: center;
  color:black;
  font-size:30px;
  font-style: bold;
}

h3{
  text-align: center;
}

#delete{
  color:black;
  width:70px;
  font-size: 13px;
  margin-right:20px;
  border-radius: 5%;
  height:23px;
}



.show button{
  width:70px;
  border-radius:15%;
  height:22px;
}

.show button a{
  text-decoration: none;
  color:black;
  font-size:13px;
}

#edit{
  display:flex;
  flex-direction:column;
}

#changeStuff {
  margin-top: 20px;
  width: 30%;
  margin: 20px auto;
  font-size: 20px;
  border-radius: 5%;
}

.buttonF{
  font-size:10px;
  width:80px;
  text-align: center;
  display: inline-block;
  margin:0 10px;
}

.buttonContainer{
  display:flex;
  justify-content: center;
  margin:10px;
}

.showContainerButtons{
  display:flex;
  justify-content: center;
}

.showContainerButtons button{
  font-size:14px;
  width:65px;
}

.showContainerButtons button a{
  text-decoration: none;
  color:black;
}
